{% load static %}
<head>
    <title>trades</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <script src="{% static 'main_page/js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'main_page/js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'main_page/css/bootstrap.min.css' %}" />
</head>